# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Temporary files
.cache/
.temp/

# Build/compiled files
dist/
build/

# IDE settings
.vscode/
.idea/

# AWS and other cloud configurations (if any)
.aws/

# Dependency files
package.json
package-lock.json
